// definition of breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$custom-spacers: (
    6: $spacer * 4,
    7: $spacer * 5,
);

// Merge the maps
@if variable-exists(spacers) {
    $spacers: map-merge($spacers, $custom-spacers);
}

$custom-gutters: (
    6: $spacer * 4,
    7: $spacer * 5,
);
@if variable-exists(gutters) {
    $gutters: map-merge($gutters, $custom-gutters);
}


$dark-blue: #143759;
$light-blue: #B6D8F1;
$red: #E3111A;
$green: #BED558;
$dark-gray-color: #333333;

$primary-color: $dark-blue;
$secondary-color: $green;

$main-font-color: black;
$main-headings-color: black;

$link-color: black;
$link-color-content: $dark-blue;
$link-color-hover: darken($dark-blue, 10%);
$link-color-visited: lighten($dark-blue, 10%);


//import font in theme style to not duplicate
$font-open-sans: 'Open Sans', sans-serif;
$font-exo: 'Exo 2', sans-serif;
$font-bitter: 'Bitter', sans-serif;
$font-primary: $font-open-sans;

@mixin single-transition($property:all, $speed:.125s, $ease:linear) {
    -webkit-transition: $property $speed $ease;
    -moz-transition: $property $speed $ease;
    -o-transition: $property $speed $ease;
    transition: $property $speed $ease;
}

//Spacing

$default-space: 2rem;
$default-space-lg: 3rem;
$default-space-sm: $default-space / 2;
$default-space-xs: $default-space / 4;

$default-icon-space: 8px;

// headings font sizes map
$headings-font-sizes: (
    h1 : 3.25rem,
    h2 : 2.5rem,
    h3 : 2rem,
    h4 : 1.5rem,
    h5 : 1.25rem,
    h6 : 1rem,
);


// bootstrap override
$custom-theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
);

@if variable-exists(theme-colors) {
    $theme-colors: map-merge($theme-colors, $custom-theme-colors);
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
}
$alert-border-radius: 0;

$default-border-radius: 12px;

$modal-content-border-radius: 0;

$box-shadow-custom-color: $primary-color;
$input-focus-width: .2rem;
$input-focus-border-color: rgba($box-shadow-custom-color, .5);
$input-focus-box-shadow: 0 0 0 $input-focus-width rgba($box-shadow-custom-color, .25);


$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;


$form-check-input-checked-bg-color: $primary-color;
$form-check-input-focus-box-shadow: $input-focus-box-shadow;
$form-check-input-checked-border-color: $primary-color;

$btn-border-radius: $default-border-radius;
$btn-border-radius-sm: $default-border-radius;
$btn-border-radius-lg: $default-border-radius;

$btn-padding-x-lg: 2.5rem;
$btn-padding-y-lg: 1rem;

$progress-border-radius: $default-border-radius;

$accordion-border-width: 0;
$accordion-border-radius: $default-border-radius;
$accordion-inner-border-radius: $accordion-border-radius;
$accordion-button-focus-border-color: rgba($dark-blue, .5);
$accordion-button-focus-box-shadow: 0 0 0 $input-focus-width rgba($dark-blue, .25);
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: tint-color($dark-blue, 95%);


$navbar-light-color:                rgba($main-headings-color, .55);
$navbar-light-hover-color:          rgba(white, .7);

//$navbar-light-toggler-icon-bg: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxOCAxMiIgd2lkdGg9IjE4cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzAwMDAwMCIgaWQ9IkNvcmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04Ny4wMDAwMDAsIC0zNDIuMDAwMDAwKSI+PGcgaWQ9Im1lbnUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg3LjAwMDAwMCwgMzQyLjAwMDAwMCkiPjxwYXRoIGQ9Ik0wLDEyIEwxOCwxMiBMMTgsMTAgTDAsMTAgTDAsMTIgTDAsMTIgWiBNMCw3IEwxOCw3IEwxOCw1IEwwLDUgTDAsNyBMMCw3IFogTTAsMCBMMCwyIEwxOCwyIEwxOCwwIEwwLDAgTDAsMCBaIiBpZD0iU2hhcGUiLz48L2c+PC9nPjwvZz48L3N2Zz4=");

$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$dark-blue}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 5h22M4 15h22M4 25h22'/></svg>");
$navbar-light-toggler-border-color: rgba($black, .1);

$table-striped-bg: #cae4fc45;

//$modal-show-transform
$modal-content-border-radius: $default-border-radius;
$modal-inner-padding: 1rem 2rem;


