@import "variables";

html, body {
    background-color: white;
}

img, figure {
    height: auto;
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-exo;
}

.font-extra-bold {
    font-weight: 800;
}

.font-bold {
    font-weight: 700;
}

.font-semi-bold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.has-background-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    &.has-overlay {
        .overlay {
            background: $dark-blue;
            opacity: 0.60;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }

    .inner-content {
        z-index: 2;
        position: inherit;
    }
}

.section-title {
    text-align: center;
    margin-bottom: map_get($spacers, 5);
    font-weight: 700;
}

/* Hero */
#hero {
    min-height: 80vh;
    color: white;
    display: flex;
    align-items: center;

    h1 {
        font-size: 56px;
        text-transform: uppercase;
        font-family: $font-bitter;
    }
}

/* Advantages */
.advantage {
    @include card-shadow();
    border-radius: $default-border-radius;

    .advantage-name, .advantage-description {
        text-align: center;
    }
}

/* Members section */
.member {
    .member-image {
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .member-name {
        text-align: center;
    }

    .member-description {
        text-align: center;
    }
}

.accordion {
    .accordion-item {
        border-radius: $accordion-border-radius;

        .accordion-button {
            color: $dark-blue;
            font-style: italic;
            font-weight: 500;
            border-radius: $accordion-border-radius;
        }
    }
}

/* Documents */
.document-group {
    @include card-shadow-large();
    border-radius: $default-border-radius;

    .document-group-name {
        margin-top: map_get($spacers, 7);
        text-align: center;
    }

    .document-group-description {
        margin-top: map_get($spacers, 3);
        min-height: 12rem;
    }
}

/* Timeline */
.sprint-results {
    margin-bottom: -1 * map_get($spacers, 5);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down("md") {
        max-width: 100%;
    }

    .sprint-result {
        margin-bottom: map_get($spacers, 5);
        align-items: center;

        .circle-wrapper {
            display: flex;
            min-width: 150px;

            &.right {
                .circle {
                    order: 1;
                }

                .connector {
                    order: 0;
                }
            }

            .circle {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                color: $dark-blue;
                font-size: 2rem;
                font-weight: 700;

                border-radius: 50%;
                border: 4px solid $dark-blue;
                @include card-shadow-large();
            }

            .connector {
                display: flex;
                align-items: center;
                width: calc(100% - 100px);

                .line {
                    width: 100%;
                    height: 4px;
                    background-color: $dark-blue;
                }
            }
        }


        .box {
            display: flex;
            border-radius: $default-border-radius;
            background-color: white;
            overflow: hidden;

            @include card-shadow-large();

            .header {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $dark-blue;
                font-weight: 500;
                color: white;
            }

            .content {

            }
        }
    }
}
