@import "variables";


.navbar {
    padding: 0;
    background-color: white;

    @include card-shadow-medium();

    .navbar-brand {

        @include media-breakpoint-down('lg') {
            min-height: 4rem;
        }

        display: flex;
        align-items: center;

        .team-logo {
            max-height: 3rem;
        }
    }
    .navbar-nav {

        @include media-breakpoint-down('md'){
            padding: 0.5rem 0;
        }

        .nav-item {
            color: $main-headings-color;

            &:hover {
                background-color: $secondary-color;
                color: $white;
            }

            .nav-link {
                font-size: 1.2rem;
                font-family: $font-bitter;
                font-weight: 600;
                padding: 0 1.4rem;
                color: inherit;
                transition: none;
                display: flex;
                align-items: center;
                height: 4.5rem;

                @include media-breakpoint-down('lg') {
                    height: 4rem;
                }

                @include media-breakpoint-down('md'){
                    padding: 1.15rem 1.4rem;
                }
            }
        }
    }

    .navbar-toggler {
        border-color: $dark-blue;
        margin: 8px 0 8px auto;
        padding: 0.6rem;
        font-size: 0.95rem;
        border-radius: 4px;
        border-width: 2px;

        .navbar-toggler-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1rem;
            height: 1rem;
        }

        &:focus {
            box-shadow: none;
        }

        &.show {
            .navbar-toggler-icon {
                &.close {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    display: flex;
                }

                &.open {
                    display: none;
                }
            }
        }
    }
}

